# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Raw data (symlink)
data/olist_data_set/

# Generated outputs
output/bronze/
output/silver/
output/gold/